<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描service下的包-->
    <context:component-scan base-package="com.cuit.service"/>
    <!--  create by Miracle   给LoginController注入StringUtils-->
    <bean id="loginController" class="com.cuit.controller.LoginController">
        <property name="stringUtils" ref="stringUtils"/>
    </bean>

    <!--  create by Miracle   给ItemController注入StringUtils-->
<!--    <bean id="itemController" class="com.cuit.controller.ItemController">-->
<!--        <property name="stringUtils" ref="stringUtils"/>-->
<!--    </bean>-->

    <bean id ="stringUtils" class="com.cuit.utils.StringUtils"/>

    <!--将我们的所有业务类注入到spring，可以通过配置或者注解-->

    <!--声明式事务-->
    <bean id="TransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--注入数据源-->
        <property name="dataSource" ref="dataSource">
        </property>
    </bean>

    <!--aop事务支持-->


</beans>