<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuit.dao.ShopcarMapper">
  <resultMap id="BaseResultMap" type="com.cuit.pojo.Shopcar">
    <id column="shopcar_id" jdbcType="INTEGER" property="shopcarId" />
    <result column="goods_addtime" jdbcType="TIMESTAMP" property="goodsAddtime" />
    <result column="goods_num" jdbcType="INTEGER" property="goodsNum" />
    <result column="shopcar_picture" jdbcType="VARCHAR" property="shopcarPicture" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
  </resultMap>
  <sql id="Base_Column_List">
    shopcar_id, goods_addtime, goods_num, shopcar_picture, user_id, goods_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shopcar
    where shopcar_id = #{shopcarId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shopcar
    where shopcar_id = #{shopcarId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="shopcar_id" keyProperty="shopcarId" parameterType="com.cuit.pojo.Shopcar" useGeneratedKeys="true">
    insert into shopcar (goods_addtime, goods_num, shopcar_picture, 
      user_id, goods_id)
    values (#{goodsAddtime,jdbcType=TIMESTAMP}, #{goodsNum,jdbcType=INTEGER}, #{shopcarPicture,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="shopcar_id" keyProperty="shopcarId" parameterType="com.cuit.pojo.Shopcar" useGeneratedKeys="true">
    insert into shopcar
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsAddtime != null">
        goods_addtime,
      </if>
      <if test="goodsNum != null">
        goods_num,
      </if>
      <if test="shopcarPicture != null">
        shopcar_picture,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsAddtime != null">
        #{goodsAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsNum != null">
        #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="shopcarPicture != null">
        #{shopcarPicture,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cuit.pojo.Shopcar">
    update shopcar
    <set>
      <if test="goodsAddtime != null">
        goods_addtime = #{goodsAddtime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsNum != null">
        goods_num = #{goodsNum,jdbcType=INTEGER},
      </if>
      <if test="shopcarPicture != null">
        shopcar_picture = #{shopcarPicture,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
    </set>
    where shopcar_id = #{shopcarId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cuit.pojo.Shopcar">
    update shopcar
    set goods_addtime = #{goodsAddtime,jdbcType=TIMESTAMP},
      goods_num = #{goodsNum,jdbcType=INTEGER},
      shopcar_picture = #{shopcarPicture,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER}
    where shopcar_id = #{shopcarId,jdbcType=INTEGER}
  </update>
</mapper>