.Shopping_Car{
    background-color:#fff;
    margin-top:20px;}
.comWidth{
    width:1100px;
    margin-left:auto;
    margin-right:auto;
}
.shoppingcar_title{
    height:50px;
    width:100%;}
.shoppingcar_titleright{
    height:98%;
    width:1100px;
    border-bottom:1px solid #ccc}
.fr{float:right;}
.shoppingcar_sum{
    width:100%;
    height:50px;}
.shoppingcar_sum span{
    display:inline-block;
    float:left;
    width:135px;
    height:100%;
    line-height:50px;}
.shoppingcar_sum li{
    display:inline-block;
    float:left;
    width:135px;
    height:100%;
    line-height:50px;}
.sj{margin-left:20px;}
.shop_box{
    margin-top:20px;}
.shop_name{
    width:1100px;
    height:25px;}
.shop_product{
    background-color:#FCFCFC;
    width:1060px;
    /*height:80px;*/
    height:120px;
    border:1px solid #ccc;
    margin-top:10px;
    padding:20px;
    position:relative;}
.shop_product img{
    margin-left:10px;
}
.auto-img {
    width:80px;
    height: 80px;
}
.auto-img img{
    width: 100%;
}
.fl{float:left;}
.shoppro_des{
    height:80px;
    width:180px;
    margin-left:15px;}
.bh:hover{
    color:#F00;
    text-decoration:underline;}
.shoppro_des{
    height:80px;
    width:180px;
    margin-left:15px;}
.shoppro_size{
    position:absolute;
    top:0px;
    left:350px;
    height:100px;
    width:160px;
    color:#9C9C9C;
    padding-top:20px;
    padding-left:20px;}
.shoppro_size:hover{
    color:#F00;
    border:1px dotted #F00;}
.shoppro_price{
    height:100%;
    width:136px;}
.Carnum{
    font:bold 16px/25px "微软雅黑";
    font-style:normal;
    color:#C00;
    padding-left:5px;}
.reduction,.plus{
    height:28px;
    line-height:28px;
    text-align:center;
    width:15px;
    background-color:#f5f5f5;
    border:#ccc solid 1px;}
.select_input{
    height:28px;
    border-top:#ccc solid 1px;
    border-bottom:#ccc solid 1px;
    width:50px;
    background-color:#fff;}
.select_input input{
    text-align:center;
    width:50px;
    height:28px;
    line-height:28px\9;}
.Carnum1{
    font:16px/25px "微软雅黑";
    color:#9C9C9C;
    text-decoration:line-through;
    padding-left:5px;}
.Carnum2{
    font:bold 16px/25px "微软雅黑";
    color:#000;
    padding-left:5px;}
.cx{
    text-align:center;
    padding-top:5px;
    height:25px;
    width:90px;
    color:#f00;
    background-color:#FFF0E7;
    border:1px dotted #f00;
    border-radius:3px;}
.cx img{
    margin:2px 7px 9px ;}
.cx_tc{
    height:40px;
    width:120px;
    border:1px solid #9C9C9C;
    color:#9C9C9C;
    background-color:#fff;
    display:none;
    text-align:center;
    border-radius:3px;
    line-height:20px;}
.cx:hover .cx_tc{
    display:block;}
.shoppingcar_acc{
    height:50px;
    background-color:#E5E5E5;
}
.shoppingcar_acc a{
    text-decoration: none;
    color: white;
}
.Carnum3{
    font:bold 16px/50px "微软雅黑";
    font-style:normal;
    color:#C00;
    padding:0 5px;}
.Carnum4{
    font:bold 24px/50px "微软雅黑";
    font-style:normal;
    color:#C00;
    padding:0 5px;}

/*CSS style For Order Detail Create By Miracle*/
.Order_Detail{
    background-color: whitesmoke;
    margin-top:20px;}

.OrderDetail_sum{
    width:100%;
    height:50px;}

.OrderDetail_sum li{
    display:inline-block;
    float:left;
    width:135px;
    height:100%;
    line-height:50px;}
.OrderTotal{
    margin-right: 100px;;
}
.OrderWidth{
    width:1100px;
    margin-left:auto;
    margin-right:auto;
}
.OrderAddress{
    margin-right: 145px;
}
.OrderLeft{
    float:left;
}

.OrderRight{
    float:right;
}
.OrderRight1{
    float:right;
    margin-top: 30px;
}

.Order_box{
    margin-top:20px;
}

.Order_product{
    background-color:#FCFCFC;
    width:1100px;
    /*height:80px;*/
    height:140px;
    border:1px solid #ccc;
    margin-top:10px;
    padding:20px;
    position:relative;}

.Order_des{
    height:110px;
    width:180px;
    margin-left:15px;
}
.OrderPhone{
    border: 0;
    font:bold 16px/25px "微软雅黑";
    margin-right: 20px;
    width: 120px;
}
.Order_price{
    width:100px;
    margin-right: 40px;
}
.OrderNum{
    font:bold 16px/25px "微软雅黑";
    font-style:normal;
    color:#C00;
    padding-left:5px;
}
.OrderPerson{
    font:bold 16px/25px "微软雅黑";
    font-style:normal;
    color:black;
    border: 0;
    padding-left:5px;
    margin-right: 10px;
    width: 100px;
}
.Order_input{
    height:28px;
    width:350px;
    background-color:#fff;
    margin-right: 50px;
    text-decoration: none;
    border: 0;
}